<% include partials/header %>

<% if(errors != undefined){ %>
			<ul>
				<% errors.forEach(function(error){ %>
					<li><%= error.msg %> </li>

				<% }) %>
				</ul>
			<% } %>

			<u1>


<form method="POST" action="/adddevice">
				<label>Deviceid</label><br>
				<input type="text" name="deviceid">
        <br>
        <label>Device Name</label><br>
        <input type="text" name="devicename">
        <br>
				<label>Cloudkey</label><br>
				<input type="text" name="cloudkey">
				<br><br>
				<input type="submit" value="Add device">
</form>
<h3><%= error %></h3>

<% include partials/footer %>