<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>login page</title>
  <link rel="stylesheet" type="text/css" href="css/style.css" />
</head>
<body>
  <div id="wrapper">
        <div id="left">
          <div id="signin">
            <div class="logo">
              <a href="/" ><img src="https://image.ibb.co/hW1YHq/login-logo.png" alt="Sluralpright" /></a>
            </div>
            <form method="POST" action="/register">
              <div>
                <label>Username</label>
                <input type="text" class="text-input"  name="username" required minlength="5" maxlength="16"/>
              </div>
              <div>
                <label>Password</label>
                <input type="password" class="text-input" name="password" required minlength="8" maxlength="16"/>
              </div>
              <div>
                <label>Re-enter Password</label>
                <input type="password" class="text-input" name="passwordMatch" required minlength="8" maxlength="16"/>
              </div>
              <div>
                <label>Email Address</label>
                <input type="email" class="text-input" id="mail" name="email" required />
              </div>
              <div class="erros">
              <% if(errors != undefined){ %>
                <ul>
                  <% errors.forEach(function(error){ %>
                    <li><%= error.msg %> </li>

                  <% }) %>
                  </ul>
                <% } %>
              </div>
              <li><%= complete %> </li>
              <button type="submit" class="primary-btn">Create</button>
            </form>
              <a href="/login" class="secondary-btn">Login here</a>
          </div>
          <footer id="main-footer">
            <p>Copyright &copy; 2018, Company All Rights Reserved</p>
            <div>
              <a href="#">terms of use</a> | <a href="#">Privacy Policy</a>
            </div>
          </footer>
        </div>
         
         </div>
  </body>
  <script >
    var email = document.getElementById("mail");

    email.addEventListener("input", function (event) {
      if (email.validity.typeMismatch) {
        email.setCustomValidity("This is an invalid email");
      } else {
        email.setCustomValidity("");
      }
    });

    var password = do
  </script>
</html>