
<% include partials/header2 %>
        <!-- Left navbar-header end -->
        <!-- Page Content -->
        <div id="page-wrapper">
            <div class="container-fluid">
                <div class="row bg-title">
                    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                        <h4 class="page-title">Add device </h4> </div>
                    <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12"> <a href="/rulestable" class="btn btn-danger pull-right m-l-20 btn-rounded btn-outline waves-effect waves-light">Rules table</a>
                        <ol class="breadcrumb">
                            <li><a href="#">Dashboard</a></li>
                            <li class="active">Rules</li>
                        </ol>
                    </div>
                    <!-- /.col-lg-12 -->
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="white-box">
                        


					<form method="POST" action="/rules">
									
									<!--<input type="text" name="deviceid" >-->
                  <div class="form-group mx-sm-3 mb-2" >
                  <label for="exampleFormControlSelect1">Groups</label>
                  <select class="form-control" id="groups" name="selectpicker">
                  <option value = "0" >--Select--</option>
                      <%
                  for ( var i = 0; i < data.length; i++ )
                  {
                    %><option value="<%= data[i].groupid %>"><%= data[i].groupname %></option><%
                  }
                  %>
                  </select>
                </div>
                <div class="form-group mx-sm-3 mb-2" >
                  <label for="exampleFormControlSelect1">Device sending the data </label>
                <select class="form-control" id="mySelect" name="mySelect">
                    <option value = "0" >--Please Select a Group--</option>
                  </select>
                </div>
                 <div class="form-group">
                  <label for="exampleFormControlInput1">If Input:</label>
                  <input type="text" class="form-control" id="exampleFormControlInput1" name="input">
                </div>
                <div class="form-group">
                  <label for="exampleFormControlInput1">Then Output: </label>
                  <input type="text" class="form-control" id="exampleFormControlInput2" name="output">
                </div>

									<input type="submit" onclick="Validate()" value="Add">

					</form>
          <br>
          <% if(errors != undefined){ %>
                
                  <% errors.forEach(function(error){ %>
                    <h3><%= error.msg %></h3>

                  <% }) %>
                  
                <% } %>

                <u1>
					<h3><%= error %></h3>
                    <!-- row -->

                    </div>
                </div>
            </div>
            <!-- /.container-fluid -->
            <footer class="footer text-center"> 2017 &copy; Pixel Admin brought to you by wrappixel.com </footer>
        </div>
        <!-- /#page-wrapper -->
    </div>
    <!-- /#wrapper -->
    <!-- jQuery -->
    <script src="plugins/bower_components/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- Menu Plugin JavaScript -->
    <script src="plugins/bower_components/sidebar-nav/dist/sidebar-nav.min.js"></script>
    <!--slimscroll JavaScript -->
    <script src="js/jquery.slimscroll.js"></script>
    <!--Wave Effects -->
    <script src="js/waves.js"></script>
    <!-- Custom Theme JavaScript -->
    <script src="js/custom.min.js"></script>
    
    <script src="js/rulesdropbox.js"></script>
</body>

</html>
