.wrapper{
	display: inline-block; 
	text-align: left;
	margin:50px 33%;
	width: 33%
}

.table {
    border-radius: 5px;
    width: 100%;
    margin: 0px auto;
    float: none;
}
.table th {
    text-align: center;
    background: #ccc;
}
.table td {
    text-align: center;
}

.add-device{
  list-style: none;
}

.add-device a {
  line-height: 60px;
  color: #151515;
  padding: 12px 20px;
  text-decoration: none;
  text-transform: uppercase;
  transition: .3s;

}

.add-device a:focus {
  outline: none;
} 

.add-device a.active {
  background: #E2472F;
  color: #fff;
  border-radius: 6px;
}
.add-device a.active:hover {
  background: 	#FFA07A;
}