/*
@import "https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";
*/
@import url('https://fonts.googleapis.com/css?family=Roboto:300');
/*
#login{
	margin:  0;
	padding: 0;
	font-family: sans-serif;
	background: url(bg.jpg) no-repeat;
	background-size: cover;
}
.login-box {
	width: 280px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	color: black;
}
.login-box h1 {
	float: left;
	font-size: 40px;
	border-bottom: 6px solid #4caf50;
	margin-bottom: 50px;
	padding: 13px 0
}
.textbox {
	width: 100%;
	overflow: hidden;
	font-size: 20px;
	padding: 8px 0;
	margin: 8px 0;
	border-bottom: 1px solid #4caf50;
}
.textbox i {
	width: 26px;
	float: left;
	text-align: center;
}
.textbox input {
	border: none;
	outline: none;
	background: none;
	color: black;
	font-size: 18px;
	width: 80%;
	float: left;
	margin: 0 10px;
}
.btn {
	width: 100%;
	background: none;
	border: 2px solid #4caf50;
	color: black;
	padding: 5px;
	font-size: 18px;
	cursor: pointer;
	margin: 12px 0;
}
*/

* {
	box-sizing: border-box;
}

body {
	font-family: 'Roboto',sans-serif;
	font-weight: 300;
	background: url(bg.jpg) no-repeat;
	background-size: cover;
	color: #181818;
	overflow: auto;

}

h1, 
h2, 
h3, 
h4, 
h5, 
h6 {
	font-weight: 300;
}

#wrapper {
	display: flex;
	flex-direction: row; 
}

#left {
	display: flex;
	flex-direction: column;
	flex: 1;
	align-items: center;
	justify-content: center;
	height: 100%;

}


#right {
	flex: 1;
}



/* sign in */
#signin {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 35%;
	padding-bottom: 1rem;
}

#signin form {
	width: 80%;
	padding-bottom: 3rem; 
}

#signin .logo {
	margin-bottom: 2vh;
}

#signin .logo img {
	width: 250px;
}

#signin label {
	font-size: 0.9rem;
	line-height: 2rem;
	font-weight: 500;
}

#signin .text-input {
	margin-bottom: 1.3rem;
	width: 100%;
	border-radius: 20px;
	background: #EAECEE;
	border: none;
	color: #181818;
	padding: 0.5rem 1rem;
	line-height: 1.3rem;
}

#signin .primary-btn {
	width: 100%;
}

#signin .secondary-btn,
.or,
.links {
	width: 60%;
}

#signin .links a {
	display: block;
	color: #181818;
	text-decoration: none;
	margin-bottom: 1rem;
	text-align: center;
	font-size: 0.9rem;
}

#signin .or {
	display: flex;
	flex-direction: row;
	margin-bottom: 1.2rem;
	align-items: center;
}

#signin .or .bar {
	flex: auto;
	border: none;
	height: 1px;
	background: #181818;
}

#signin .or span {
	color: #181818;
	padding: 0 0.8rem;
}

#main-footer {
	color: #181818;
	text-align: center;
	font-size: 0.8rem;
	max-width: 80%;
	padding-top: 0.5rem;
}

/*showcase*/
#showcase {
	display: flex;
	justify-content: center;
	align-items: center;
	background: url('https://image.ibb.co/cO9Lxq/login-bg.jpg') no-repeat center center / cover;
	height: 100vh;
	text-align: center;

}

#showcase .showcase-text{
	font-size: 3rem;
	width: 100%
	color: #fff;
	margin-bottom: 1.5rem;
}

#showcase .secondary-btn{
	width: 60%;
	margin: auto;
}

/* footer */

#main-footer a {
	color: #f96816;
	text-decoration: underline;
}

/* button */
.primary-btn {
	padding: 0.7rem 1rem;
	height: 2.7rem;
	display: block;
	border:0;
	border-radius: 2px;
	font-weight: 500;
	background: #f96816;
	color: #fff;
	text-decoration: none;
	cursor: pointer;
	text-align: center;
	transition: all 0.5s;
	border-radius: 20px;
}

.primary-btn:hover {
	background-color: #ff7b39;
}

.secondary-btn {
	padding: 0.7rem 1rem;
	height: 2.7rem;
	display: block;
	border: 1px solid #181818;
	border-radius: 2px;
	font-weight: 500;
	background: none;
	color: #181818;
	text-decoration: none;
	cursor: pointer;
	text-align: center;
	transition: all 0.5s;
	border-radius: 20px;
}

.secondary-btn:hover {
	border-color: #ff7b39;
	color: #ff7b39;
}

/* media queries */

@media(min-width: 1200px) {
	#left{
		flex: 4;
	}
	#right{
		flex: 6;
	}
}

@media(max-width: 768px) {
	body {
		overflow: auto;
	}

	#right{
		display: none;
	}

	#left {
		justify-content: start;
		margin-top: 2vh;
	}
	#signin .logo {
		margin-bottom: 2vh;
	}

	#signin .text-input{
		margin-bottom: 0.7rem;
	}

	#main-footer {
		padding-top: 1rem; 
	}
}

nav {
  position: fixed;
  top: 0;	
  left: 0;
  width: 100%;
  height: 100px;
  padding: 10px 100px;
  box-sizing: border-box;
  transition: .3s;
}

nav.black{
  background: rgba(0,0,0,0.8);
  height: 100px;
  padding: 10px 100px;

}

nav .logo {
  padding: 22px 20px;
  height: 80px;
  float: left;
  font-size: 24px;
  transition: .3s;
}
nav.black .logo {
  color: #fff;
}

nav ul {
  list-style: none;
  float: right;
  margin: 0;
  padding: 0;
  display: flex;
}

nav ul li{
  list-style: none;
}

nav ul li a {
  line-height: 80px;
  color: #151515;
  padding: 12px 20px;
  text-decoration: none;
  text-transform: uppercase;
  transition: .3s;
}

nav.black ul li a {
  color: #fff;
}

nav ul li a:focus {
  outline: none;
} 

nav ul li a.active {
  background: #E2472F;
  color: #fff;
  border-radius: 6px;
}
.topnav .icon {
  display: none;
}

@media screen and (max-width: 950px) {
  .topnav ul li a{display: none;}
  .topnav .icon {
    float: right;
    display: block;
  }
} 

@media screen and (max-width: 950px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive ul li a{
    float: none;
    display: block;
    text-align: left;
  }
}

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 100%;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}




/* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* Style the buttons that are used to open the tab content */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    width: 33%;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;

}
.tabcontent .hp-First-tab h3{
  	animation: fadeEffect 1s; /* Fading effect takes 1 second */
  	text-align: center;
}
.tabcontent .hp-First-tab .bar{
	flex: auto;
	border: none;
	margin: 30px -20px 20px;
	height: 2px;
	background: #000000;
}

@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}
